/* Adicionando a fonte do Google Fonts (se quiser usar uma fonte diferente) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Definindo a aparência geral do site */
body {
    background-color: #ffffff; /* Cor do fundo */
    color: #000000; /* Cor do texto */
    font-family: 'Roboto', sans-serif; /* Fonte do texto */
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 30px; /* Espaço entre o título e o conteúdo abaixo */
}

/* Estilo das entradas do diário */
.entries {
    margin: 20px;
}

.entries article {
    margin-bottom: 40px;
}

/* Estilo do segundo título com a classe .second-title */
.second-title {
    margin-top: 50px; /* Aumente esse valor para mais espaço entre o texto e o título */
    font-size: 2rem;
    color: #000000;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f1f1f1;
    color: #333;
}
